<div class="header">
	<h1 class="logo_color">Creators of MessRoom</h1>
</div>




<div class="mess_show_container about_infos">
	<div class="about_container">
		<div class="person">
			<div class="person_image">
				<!-- <h1>imagwe</h1> -->
				<%= image_tag 'sou.jpg' ,class:'person_img'%>
			</div>
			<div class="person_info">
				<h2>Sourav Das</h2>
				<h3 class="subhead">Full stack</h3>
				<p>B.Sc Computer Science hounours student</p>

				<h5>Roll: 9067</h5>
				<h5>Sem: 6</h5>
				<h6>Email: sourav292922@gmail.com</h6>
			</div>
		</div>

		<div class="person">
			<div class="person_image">
				<!-- <h1>imagwe</h1> -->
				<%= image_tag 'swar.jpg' ,class:'person_img'%>
			</div>
			<div class="person_info">
				<h2>Swarnali Saha</h2>
				<h3 class="subhead">Frontend</h3>
				<p>B.Sc Computer Science hounours student</p>

				<h5>Roll: 9087</h5>
				<h5>Sem: 6</h5>
				<h6>Email: saha2000swarnali@gmail.com</h6>
			</div>
		</div>
		<div class="person">
			<div class="person_image">
				<!-- <h1>imagwe</h1> -->
				<%= image_tag 'rahu.jpg' ,class:'person_img'%>
			</div>
			<div class="person_info">
				<h2>Rahul Pal</h2>
				<h3 class="subhead">Frontend</h3>
				<p>B.Sc Computer Science hounours student</p>

				<h5>Roll: 9067</h5>
				<h5>Sem: 6</h5>
				<h6>Email: sourav292922@gmail.com</h6>
			</div>
		</div>
		
	</div>
	<div class="header">
		<h2 class="logo_color">What is MessRoom ?</h2>
	</div>

	<div class="whatis_info">
		<p>MessRoom is an online mess finding website. Here people can search and find mess according to their preferences and people can upload their mess to reach potential finder for their mess.</p>
	</div>
</div>