<div class="checkpoint_container">
	<div class="chekpoint_title">
		<h2>Which type of account do you want ?</h2>
	</div>
	<div class="chekpoint_btns">
		<%= link_to 'I want a normal account',signup_path ,class:'btn mr' %> 
		<%= link_to 'I want a owner account',signup_owner_path ,class:'btn mr black_btn' %>
	</div>
</div>