
<div class="header">
	<h1 class="logo_color">Search Results</h1>
</div>

<% @messes = @search  %>

<% if @search.size >0 %>
	
<div class="messes_container">
	<div class="messes">
			
		<%= render 'messes/mess' %>
		
	</div>
</div>
<% else %>

<div class="messes_container">
	<div class="messes">
			
		<h2>No result found :(</h2>
		
	</div>
</div>

<% end %>