<div class="footer_continer">
  <div class="footer">
    <h3>Mess<span class="logo_color">Room</span> online mess finding site</h3>
    <div class="links_footer">
      <span><%= link_to 'Signup',signup_path  %></span>
      <span><%= link_to 'Signin',signin_path  %></span>
      <span><%= link_to 'About',about_path  %></span>
      <span><%= link_to 'Contact us',contact_path  %></span>
    </div>
  </div>
</div>
<div class="low_footer">
  <p>Developed by Sourav Das,Swarnali Saha,Rahul Pal © 2022 - <b><a href="https://github.com/freakflames29/findmess" class="white_links" target="_blank"> <i class="fa-brands fa-github"></i> View on Github</a></b></p>
</div>
