<div class="nav_bar_container">
	<div class="nav_bar">
		<div class="nav_bar_logo">
			<a href="/">
			<h2 class="the_heading2"> <i class="fa-solid fa-mushroom"></i> Mess<span class="logo_color">Room</span> </h2>
				
			</a>
		</div>
		<div class="nav_bar_elements">
			<span>
			<%= link_to 'Messes',messes_path  %>
				
			</span>

			<span>About</span>
			<span>About</span>
			<span>About</span>
			<a href="/signup">
				<span class="btn"><i class="fa-solid fa-user"></i>  Signup</span>
			</a>
			<%#= link_to 'Signup',signup_path,class:'btn' %>
			<!-- <span class="btn">All messes</span> -->
		</div>
	</div>
</div>