<div class="nav_bar_container">
	<div class="nav_bar">
		<div class="nav_bar_logo">
			<a href="/">
			<h2 class="the_heading2"> <i class="fa-solid fa-mushroom"></i> Mess<span class="logo_color">Room</span> </h2>
				
			</a>
		</div>
		<div class="nav_bar_elements">
			<span>
			<%= link_to 'Messes',messes_path  %>
				
			</span>

			<span>About</span>
			<span>About</span>
			<% if !logged_in? %>
				
			<a href="/checkpoint">
				<span class="btn"><i class="fa-solid fa-user"></i>  Signup</span>
			</a>
			<% else %>
			<span>About</span>
			<% if current_user.is_owner %>

			<%= link_to upload_path,class:'btn' do%>
				<i class="fa-solid fa-house"></i> upload
			<% end -%>
				
			<% end %>
			<%= link_to  signout_path,method: :delete,class:'btn' do%>
				<i class="fa-solid fa-arrow-right-from-bracket"></i> signout
			<% end -%>
			<% end %>
			<%#= link_to 'Signup',signup_path,class:'btn' %>
			<!-- <span class="btn">All messes</span> -->
		</div>
	</div>
</div>